@import "tailwindcss";

@theme {
  --color-primary: #14532d; /* green-900 */
  --color-secondary: #eab308; /* yellow-500 */
  --color-accent: #10b981; /* emerald-500 */
  --color-background: #f8fafc; /* slate-50 */
  --color-surface: #ffffff;
  --color-text-main: #1e293b; /* slate-800 */
  --color-text-muted: #64748b; /* slate-500 */
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
}
